Source: lwaldump
Section: database
Priority: extra
Maintainer: Georgy Rylov (Yandex.Cloud) <godjan@yandex-team.ru>
Build-Depends: debhelper (>= 9), postgresql-server-dev-all (>= 195~), postgresql-server-dev-10
Standards-Version: 1.1-0
Homepage: https://github.yandex-team.ru/mdb/lwaldump

Package: lwaldump
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-10
Description: Extension for PostgreSQL for finding corruptions in heaps
